// $deep-gradient: linear-gradient(-135deg, #161c3d, #012d63);
$deep-gradient: linear-gradient(45deg, #154955, #044554);

$wind-gradient: linear-gradient(45deg, #b7d1d7, #b2d0d7);

$font-color-light: rgb(20, 20, 20);
$font-color-dark: rgb(231, 231, 231);

/** SCSS DARK THEME dark-primary COLORS */
$dark-primary-100: #09ab00;
$dark-primary-200: #42b531;
$dark-primary-300: #60bf4e;
$dark-primary-400: #7ac868;
$dark-primary-500: #92d281;
$dark-primary-600: #a9db9a;
/** SCSS DARK THEME SURFACE COLORS */
$dark-surface-100: #121212;
$dark-surface-200: #282828;
$dark-surface-300: #3f3f3f;
$dark-surface-400: #575757;
$dark-surface-500: #717171;
$dark-surface-600: #8b8b8b;
