// $deep-gradient: linear-gradient(-135deg, #161c3d, #012d63);
$deep-gradient: linear-gradient(45deg, #154955, #044554);

$wind-gradient: linear-gradient(45deg, #b7d1d7, #b2d0d7);

$font-color-light: rgb(20, 20, 20);
$font-color-dark: rgb(231, 231, 231);

$input-accent-light: rgb(38, 168, 229);
$input-accent-dark: rgb(0, 157, 255);
$input-focus-bg-light: rgb(155, 199, 235);
$input-focus-bg-dark: rgb(0, 68, 127);
