.btn-round {
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0.05rem 0.05rem 0.05rem; */
}

:is(.dark .btn-round) {
  color: rgb(211, 211, 211);
  background-color: rgb(109, 109, 109);
  /* box-shadow: 0.05rem 0.05rem 0.05rem rgb(11, 195, 195); */
}
