$mobile-width: 600px;

.flex-default {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.host-display {
  padding: 1%;
  height: 300px;
  background-color: darkblue;
  @media screen and (max-width: $mobile-width) {
    width: 100%;
  }
  width: 48%;
}

.player-display {
  padding: 1%;

  height: 300px;
  width: 48%;

  background-color: darkmagenta;
  @media screen and (max-width: $mobile-width) {
    width: 100%;
  }
}
