html {
  font-family: system-ui;
  background: radial-gradient(
    circle,
    rgba(237, 236, 236, 1) 27%,
    rgba(208, 208, 208, 1) 100%
  );
}

.dark {
  background: radial-gradient(
    circle,
    rgba(55, 55, 55, 1) 21%,
    rgba(27, 27, 27, 1) 100%
  );
  color: white;
}
